* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*Typical devices breakpoints*/

/*Pequenas: telas: até 600px*/
/*Celular: de 600px até 768px*/
/*Tablet: 768px até 992px*/
/*Grandes telas: acima de 1200px*/



@media (min-width: 768px) and (max-width: 992px) {
    body {
        /*Configuração para tablet*/
        background-image: linear-gradient(to top, #286090, #00B28E);
    }


    /*configuração da section login*/
    .login {
        width: 80vw;
        height: 280px;



    }


    /*configuração da section imagem*/
    section>.imagem {
        float: left;
        width: 50%;
        height: 100%;

    }


    /*configuração do formulario*/
    .form {
        float: left;
        width: 50%;
    }





    /*configuração do paragrafo que está dentro do formulario*/
    .form>p {
        font-size: 0.9em;
    }

}





@media screen and (min-width: 992px) {
    body {
        /*Configuração para desktop*/
        background-image: linear-gradient(to bottom, #00B28E, #28609083);
    }

    /*configuração do section login*/
    .login {

        width: 900px;
        height: 350px;


    }



    /*configuração da section imagem*/
    .imagem {
        float: right;
        width: 50%;
        height: 100vh;
    }






    /*configuração do formulario*/
    .form {
        float: left;
        width: 50%;
    }




    /*configurção do paragrafo dentro do formulario*/
    .form>p {
        font-size: 0.9em;
    }
}